
<div id="sidebar-overlay" class="fixed inset-0 bg-black/50 z-40 hidden transition-opacity duration-300 opacity-0 lg:hidden"></div>

<aside id="sidebar" class="fixed inset-y-0 left-0 z-50 flex flex-col bg-salmao w-4/5 h-screen transform transition-transform duration-300 ease-in-out -translate-x-full sm:w-3/5 lg:translate-x-0 lg:w-64 lg:static">
  <div class="flex justify-end p-8">
    <a href="#" class="lg:hidden">
      <img src="/imgs/icons/icon-menu.svg" class="w-8" id="menu-close" />
    </a>
  </div>

  <div class="flex flex-row items-center gap-6 lg:gap-4 w-full border-b border-white px-8 pb-6">
    <a href="#">
      <div class="rounded-full overflow-hidden w-20 h-20 lg:w-12 lg:h-12 border-3 border-turquesa">
        <img src="/imgs/profile.jpg" class="object-cover w-full h-full" />
      </div>
    </a>
    <div class="flex flex-col text-white">
      <p class="text-lg lg:font-base font-semibold">Natasha Pedroso</p>
      <p class="text-sm">cargo</p>
    </div>
  </div>
  <div class="flex">
    <ul class="w-full text-white text-base">
      <a href="#">
        <li class="flex flex-row gap-5 items-align py-6 px-8 hover:bg-red-300 lg:py-4">
          <img src="/imgs/icons/icon-home.svg" class="w-6 lg:w-5" />
          Home
        </li>
      </a>
      <a href="#">
        <li class="flex flex-row gap-5 items-align py-6 px-8 hover:bg-red-300 lg:py-4">
          <img src="/imgs/icons/icon-usuario.svg" class="w-6 lg:w-5" />
          Pacientes
        </li>
      </a>
      <a href="#">
        <li class="flex flex-row gap-5 items-align py-6 px-8 hover:bg-red-300 lg:py-4">
          <img src="/imgs/icons/icon-grafico.svg" class="w-6 lg:w-5" />
          Gráficos
        </li>
      </a>
      <a href="#">
        <li class="flex flex-row gap-5 items-align py-6 px-8 hover:bg-red-300 lg:py-4">
          <img src="/imgs/icons/icon-usuario.svg" class="w-6 lg:w-5" />
          Perfil
        </li>
      </a>
      <a href="#">
        <li class="flex flex-row gap-5 items-align py-6 px-8 hover:bg-red-300 lg:py-4">
          <img src="/imgs/icons/icon-config.svg" class="w-6 lg:w-5" />
          Configurações
        </li>
      </a>

    </ul>
  </div>
  <div class="flex flex-1 items-end gap-5 items-align py-10 px-8 w-full">
    <ul>
      <a href="/">
        <li class="text-white text-lg lg:text-base flex flex-row gap-4">
          <img src="/imgs/icons/icon-exit.svg" class="w-6 lg:w-5" />
          Sair
        </li>
      </a>

    </ul>
  </div>
</aside>
