<aside class="flex flex-col bg-salmao w-4/5 h-screen">
    <div class="flex flex-row w-full bg-black px-8 py-10">
        <a href="#">
            <div class="rounded-full overflow-hidden w-20 h-20 border-3 border-turquesa">
                <img src="/imgs/profile.jpg" class="object-cover w-full h-full">
            </div>
            <p class="text-white">Natasha Pedroso</p>
            <p></p>
        </a>
    </div>
</aside>